@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&amp;subset=korean'); 
}
.nanummyeongjo { 
  font-family: 'Nanum Myeongjo', serif; 
}
.line {
  background: linear-gradient(to top, #D8D8D8 50%, transparent 50%);
}
.title {
  font-size: 40px;
}
.business_number {
  font-size: 11pt;
}
ss {
  font-size: 10pt;
}
div {
  word-wrap: break-word;
}
.card-body {
  margin: -3pt;
}

